body{ 

    margin: 0;
    padding: 0;
    background-image:url(image/image/imagerecreate-macos-big-sur.jpeg\);.jpg)

}
.topnav
{
    background-color:rgb(red, green, blue)
    overflow:hidden;
    width: auto;

  }
  .topnav a 
  {
    float: left;
    color: black;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 18px;
    
  }
  
img{
    border: radius 25px;
    
    
}
nav{
    position: fixed;
    bottom: 0;
}